:root{
    --color1: #62666a;
    --color1-transparent: #62666a99;
    --color2: #4b9c2e;
    --background-color: #a4cd96;
    --background-color-dark: #89aa7d;
    --background-color-light: #d3e5ce;
}