.unit rect.markerBackground {
    width: 1px;
    height: 1px;
    stroke: black;
    stroke-width: 0.067px;
}

.unit.selected rect.markerBackground {
    stroke: orange;
}

.unit text {
    font-size: 0.33px;
    font-weight: bold;
}

.unit .unitMarkerImage {
    transform: translate(0.5px, 0.33px) scale(0.33);
}

.unit g.unitMarkerImage :not(image) {
    stroke: black;
    fill: none;
    stroke-width: 0.1px;
}
